__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
db.sqlite3
staticfiles/
.DS_Store
.idea/
.vscode/
# Elastic Beanstalk CLI
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
